<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.secruity.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ai.secruity.model.UserInfo" >
    <id column="USER_ID" property="userId" jdbcType="BIGINT" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_CREATEDATETIME" property="userCreatedatetime" jdbcType="VARCHAR" />
    <result column="USER_MODIFYDATETIME" property="userModifydatetime" jdbcType="VARCHAR" />
    <result column="USER_PASSWORD" property="userPassword" jdbcType="VARCHAR" />
    <result column="USER_PHONE" property="userPhone" jdbcType="VARCHAR" />
    <result column="USER_DESC" property="userDesc" jdbcType="VARCHAR" />
    <result column="USER_PIC" property="userPic" jdbcType="VARCHAR" />
    <result column="USER_VIP" property="userVip" jdbcType="VARCHAR" />
    <result column="USER_STATE" property="userState" jdbcType="VARCHAR" />
    <result column="USER_DYNAMIC_PW" property="userDynamicPw" jdbcType="VARCHAR" />
    <result column="RMK1" property="rmk1" jdbcType="VARCHAR" />
    <result column="RMK2" property="rmk2" jdbcType="VARCHAR" />
    <result column="RMK3" property="rmk3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USER_ID, USER_NAME, USER_CREATEDATETIME, USER_MODIFYDATETIME, USER_PASSWORD, USER_PHONE, 
    USER_DESC, USER_PIC, USER_VIP, USER_STATE, USER_DYNAMIC_PW, RMK1, RMK2, RMK3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.secruity.model.UserInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user_info
    where USER_ID = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user_info
    where USER_ID = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ai.secruity.model.UserInfo" >
    insert into t_user_info (USER_ID, USER_NAME, USER_CREATEDATETIME, 
      USER_MODIFYDATETIME, USER_PASSWORD, USER_PHONE, 
      USER_DESC, USER_PIC, USER_VIP, 
      USER_STATE, USER_DYNAMIC_PW, RMK1, 
      RMK2, RMK3)
    values (#{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{userCreatedatetime,jdbcType=VARCHAR}, 
      #{userModifydatetime,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, 
      #{userDesc,jdbcType=VARCHAR}, #{userPic,jdbcType=VARCHAR}, #{userVip,jdbcType=VARCHAR}, 
      #{userState,jdbcType=VARCHAR}, #{userDynamicPw,jdbcType=VARCHAR}, #{rmk1,jdbcType=VARCHAR}, 
      #{rmk2,jdbcType=VARCHAR}, #{rmk3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.secruity.model.UserInfo" >
    insert into t_user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userCreatedatetime != null" >
        USER_CREATEDATETIME,
      </if>
      <if test="userModifydatetime != null" >
        USER_MODIFYDATETIME,
      </if>
      <if test="userPassword != null" >
        USER_PASSWORD,
      </if>
      <if test="userPhone != null" >
        USER_PHONE,
      </if>
      <if test="userDesc != null" >
        USER_DESC,
      </if>
      <if test="userPic != null" >
        USER_PIC,
      </if>
      <if test="userVip != null" >
        USER_VIP,
      </if>
      <if test="userState != null" >
        USER_STATE,
      </if>
      <if test="userDynamicPw != null" >
        USER_DYNAMIC_PW,
      </if>
      <if test="rmk1 != null" >
        RMK1,
      </if>
      <if test="rmk2 != null" >
        RMK2,
      </if>
      <if test="rmk3 != null" >
        RMK3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userCreatedatetime != null" >
        #{userCreatedatetime,jdbcType=VARCHAR},
      </if>
      <if test="userModifydatetime != null" >
        #{userModifydatetime,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userDesc != null" >
        #{userDesc,jdbcType=VARCHAR},
      </if>
      <if test="userPic != null" >
        #{userPic,jdbcType=VARCHAR},
      </if>
      <if test="userVip != null" >
        #{userVip,jdbcType=VARCHAR},
      </if>
      <if test="userState != null" >
        #{userState,jdbcType=VARCHAR},
      </if>
      <if test="userDynamicPw != null" >
        #{userDynamicPw,jdbcType=VARCHAR},
      </if>
      <if test="rmk1 != null" >
        #{rmk1,jdbcType=VARCHAR},
      </if>
      <if test="rmk2 != null" >
        #{rmk2,jdbcType=VARCHAR},
      </if>
      <if test="rmk3 != null" >
        #{rmk3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.secruity.model.UserInfo" >
    update t_user_info
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userCreatedatetime != null" >
        USER_CREATEDATETIME = #{userCreatedatetime,jdbcType=VARCHAR},
      </if>
      <if test="userModifydatetime != null" >
        USER_MODIFYDATETIME = #{userModifydatetime,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        USER_PHONE = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userDesc != null" >
        USER_DESC = #{userDesc,jdbcType=VARCHAR},
      </if>
      <if test="userPic != null" >
        USER_PIC = #{userPic,jdbcType=VARCHAR},
      </if>
      <if test="userVip != null" >
        USER_VIP = #{userVip,jdbcType=VARCHAR},
      </if>
      <if test="userState != null" >
        USER_STATE = #{userState,jdbcType=VARCHAR},
      </if>
      <if test="userDynamicPw != null" >
        USER_DYNAMIC_PW = #{userDynamicPw,jdbcType=VARCHAR},
      </if>
      <if test="rmk1 != null" >
        RMK1 = #{rmk1,jdbcType=VARCHAR},
      </if>
      <if test="rmk2 != null" >
        RMK2 = #{rmk2,jdbcType=VARCHAR},
      </if>
      <if test="rmk3 != null" >
        RMK3 = #{rmk3,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.secruity.model.UserInfo" >
    update t_user_info
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_CREATEDATETIME = #{userCreatedatetime,jdbcType=VARCHAR},
      USER_MODIFYDATETIME = #{userModifydatetime,jdbcType=VARCHAR},
      USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      USER_PHONE = #{userPhone,jdbcType=VARCHAR},
      USER_DESC = #{userDesc,jdbcType=VARCHAR},
      USER_PIC = #{userPic,jdbcType=VARCHAR},
      USER_VIP = #{userVip,jdbcType=VARCHAR},
      USER_STATE = #{userState,jdbcType=VARCHAR},
      USER_DYNAMIC_PW = #{userDynamicPw,jdbcType=VARCHAR},
      RMK1 = #{rmk1,jdbcType=VARCHAR},
      RMK2 = #{rmk2,jdbcType=VARCHAR},
      RMK3 = #{rmk3,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=BIGINT}
  </update>
</mapper>